@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

html {
  font-family: Noto Sans TC, 黑體-繁, Apple LiGothic Medium, PingFang, 微軟正黑體,Microsoft JhengHei, WenQuanYi Zen Hei, helvetica, Arial, sans-serif;
  font-size: px(16);
  font-weight: $light;
}

html,
body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

// vue transition
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .8s;
}

.fade-alert-enter-from,
.fade-alert-leave-to {
  opacity: 0;
  transition: opacity .6s .2s;
  .move-obj {
    opacity: 0;
    transform: translateY(10px);
  }
}

.fade-alert-enter-to,
.fade-alert-leave-from {
  opacity: 1;
  transition: opacity .6s;
  .move-obj {
    opacity: 1;
    transform: translateZ(0);
    transition: opacity .6s .2s, transform .6s .2s;
  }
}

.fade-model-enter-from,
.fade-model-leave-to {
  opacity: 0;
  transition: opacity .8s .2s;
  .close-button {
    opacity: 0;
    transform: translateY(-10px);
  }
  .main-target {
    opacity: 0;
    clip-path: inset(0 50% 0 50%);
  }
}

.fade-model-enter-to,
.fade-model-leave-from {
  opacity: 1;
  transition: opacity 1s;
  .close-button {
    opacity: 1;
    transform: translateY(0px);
    transition: .6s .6s;
  }
  .main-target {
    opacity: 1;
    clip-path: inset(0 0 0 0);
    transition: opacity .6s .4s, clip-path .6s .4s;
  }
}

// swiper
:root {
  --swiper-navigation-size: 32px !important;
  --swiper-theme-color: #fff !important;
  --swiper-pagination-bullet-horizontal-gap: 5px !important;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: 0px !important;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: 0px !important;
}
.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
  bottom: 0px !important;
}

#app {
  width: 100%;
}

.container-box {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
  @include pad {
    .container {
      padding: 50px 5vw;
    }
  }
}

input, textarea {
  width: 100%;
  display: block;
  background-color: #fff;
  border: 2px solid $c-black;
  font-size: px(18);
  padding: 8px 15px;
  &::placeholder {
    font-size: px(18);
    color: $c-gray-4;
    opacity: 1;
    transition: opacity .4s;
  }
  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}

.base-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  font-weight: $medium;
  letter-spacing: 1px;
  line-height: 1.4;
  padding: 8px 20px;
  background-color: $c-first;
  color: $c-white;
  box-shadow: -2px 2px 0 0 $c-black;
  border-radius: 8px;
  border: 2px solid $c-black;
  cursor: pointer;
  user-select: none;
  position: relative;
  transition: background-color .6s, color .2s, transform .4s;
  &:hover:not(.disable) {
    background-color: darken($c-first, 8%);
    color: $c-white;
    transform: translateY(-2px);
  }
  &.simple {
    background-color: $c-white;
    color: $c-black;
    &:hover:not(.disable) {
      background-color: darken($c-white, 8%);
      color: $c-black;
    }
  }
  &.disable {
    cursor: not-allowed;
  }
}

.close-button {
  width: 50px;
  height: 50px;
  background-color: $c-gray-4;
  color: $c-white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  i {
    font-size: px(20);
  }
}

.full-box {
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(3px);
  z-index: 999;
  .full-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .full-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 2vw;
  }
  .full-inner {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .close-button {
    position: relative;
    z-index: 2;
  }
  .main-target {
    position: relative;
    z-index: 2;
  }
}