$c-first: #03438D;
$c-error: #d72c1d;
$c-gray-1: #EFECE7;
$c-gray-2: #E4E6EB;
$c-gray-3: #A8B0B9;
$c-gray-4: #9B9893;
$c-gray-5: #808080;
$c-gray-6: #5a5a5a;

$c-white: #FFFFFF;
$c-black: #000400;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;