$c-first: #065fc5;
$c-second: #dfeaf6;
$c-error: #d72c1d;
$c-success: #4acf7d;
$c-gray-1: #EFECE7;
$c-gray-2: #E4E6EB;
$c-gray-3: #A8B0B9;
$c-gray-4: #9B9893;
$c-gray-5: #808080;
$c-gray-6: #5a5a5a;

$c-white: #FFFFFF;
$c-black: #000400;
$c-red: #DE4B63;
$c-yellow: #FAA722;
$c-green: #83C51D;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;