.auth-base {
  width: 100%;
  .container {
    width: 100%;
    max-width: 870px;
    margin: 0 auto;
    padding: 70px 0;
    border: 2px solid $c-black;
    background-color: $c-gray-1;
    box-shadow: 0px 5px 10px 8px $c-white;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
  .slide-inner {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .left-box {
    width: 45%;
    margin-right: 60px;
  }
  .right-box {
    width: 55%;
    max-width: 370px;
    position: relative;
  }
  h1 {
    font-size: 50px;
    font-weight: $regular;
    font-family: 'Paytone One', sans-serif;
    letter-spacing: .8px;
    color: $c-first;
  }
  h2 {
    font-size: px(20);
    font-weight: $regular;
    line-height: 1.4;
    letter-spacing: 1px;
    color: $c-black;
    margin: 8px 0 20px;
  }
  input:not(:first-child), button:not(:first-child) {
    margin-top: 12px;
  }
  .err-text {
    position: absolute;
    bottom: 135px;
    left: 50%;
    transform: translateX(-50%);
  }
  .button-group {
    margin-top: 65px;
  }

  @include pad {
    .container {
      padding: 50px 5vw;
    }
  }
}